name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  
jobs:

  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: docker/login-action@v3.6.0
      with:
        registry: publicjkacr.azurecr.io
        username: publicjkacr
        password: iM9vF8N9Vk3Z2+lcu6j8hpfYtCACl+zZqfUL2LdEYD+ACRBmsaMe
  
    # - name: Azure Login
    #   uses: Azure/login@v2.3.0
    #   with:
    #     creds: |
    #       {
    #       "clientId": "bb22ce0c-d9cc-4ed3-994d-3350cda08b93",
    #       "clientSecret": "dTl8Q~eIXhP7YbD.a.vAsmCCjKb0phsCnQz3RaPy",
    #       "subscriptionId": "0dbc7906-293b-41aa-916d-9f62c7c48126",
    #       "tenantId": "169376df-fd6a-473c-bb8c-1e4265a48456"
    #        }



    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        push: true
        tags: publicjkacr.azurecr.io/myapp:latest
